<div class="container">
<nav class="navbar navbar-default" role="navigation">
	<ul class="nav navbar-nav">
		<li>{{#link-to 'posts'}}Posts{{/link-to}}</li>
		<li>{{#link-to 'about'}}About{{/link-to}}</li>
		<li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
	</ul>
</nav>
</div>

<div class="container">
	<h1>About Dracula</h1>

	<p>Occupy literally tilde before they sold out Pinterest, deep v art party 3 wolf moon cred vegan typewriter banh mi. Brunch organic butcher plaid forage aesthetic, slow-carb quinoa cray banh mi narwhal. Heirloom occupy mustache, Echo Park kale chips butcher Banksy lumbersexual Intelligentsia ennui gluten-free aesthetic biodiesel PBR&B master cleanse. Gentrify cardigan Truffaut, Kickstarter wayfarers put a bird on it Thundercats plaid DIY flexitarian sustainable. Williamsburg fap DIY, whatever cred banjo seitan mustache. Tofu umami cronut, Williamsburg High Life vinyl post-ironic pickled bespoke meh. Health goth roof party master cleanse flexitarian.</p>


</div>